body {
    font-family: Arial, Helvetica, sans-serif;
    background: tan;
}

h1 {
    text-align: center;
}

.output {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: dodgerblue;
}

.key {
    font-size: 18px;
    color: dodgerblue;
}