body { 
    background: #f7c9e6;
    border: 2px solid #ee109d;
}

h1 {
    font-family: 'Chango', cursive;
    color: #ee109d; 
    text-shadow: 0px 0px 3px #000;
}

.img-banner img {
    border: 2px solid #ee109d;
}

.survey-questions li {
    font-family: 'Chango', cursive;
}

.submit {
    border: none;
    background: #ee109d;
    color: white;
}

.output {
    font-family: 'Chango', cursive;
    font-size: 24px;
    color: #ee109d;
}

.resultpic {
    border: 2px solid #ee109d;
}